<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deitel.study__scheduler">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
        android:name=".CalendarActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:parentActivityName=".RegisterActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".RegisterActivity" />
    </activity>
        <activity
        android:name=".SubjectListActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:parentActivityName=".CalendarActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".CalendarActivity" />
    </activity>

        <activity
            android:name=".TaskListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SubjectListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubjectListActivity" />
        </activity>

    </application>


</manifest>